/cat
/cat_wgan.gif
/Generator_SpecGAN__specgan_drums_epoch_1.wav
/Generator_SpecGAN__specgan_drums_epoch_10.wav
/Generator_SpecGAN__specgan_drums_epoch_2.wav
/Generator_SpecGAN__specgan_drums_epoch_3.wav
/Generator_SpecGAN__specgan_drums_epoch_4.wav
/Generator_SpecGAN__specgan_drums_epoch_5.wav
/Generator_SpecGAN__specgan_drums_epoch_6.wav
/Generator_SpecGAN__specgan_drums_epoch_7.wav
/Generator_SpecGAN__specgan_drums_epoch_8.wav
/Generator_SpecGAN__specgan_drums_epoch_9.wav
/Generator_SpecGAN__specgan_minst_epoch_10.wav
/Generator_SpecGAN__specgan_minst_epoch_11.wav
/Generator_SpecGAN__specgan_minst_epoch_12.wav
/Generator_SpecGAN__specgan_minst_epoch_13.wav
/Generator_SpecGAN__specgan_minst_epoch_14.wav
/Generator_SpecGAN__specgan_minst_epoch_15.wav
/Generator_SpecGAN__specgan_minst_epoch_16.wav
/Generator_SpecGAN__specgan_minst_epoch_17.wav
/Generator_SpecGAN__specgan_minst_epoch_18.wav
/Generator_SpecGAN__specgan_minst_epoch_19.wav
/Generator_SpecGAN__specgan_minst_epoch_8.wav
/specgan_drums
/specgan_minst
/test
/wgan
/wgan_128
/wgan_128_jellyfish
/wgan_128_vangogh